<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta.ejs') %>
    <title>ABCDE's bug submission ticket</title>
  </head>
  <body>
    <%- include('partials/nav1.ejs') %>
    <main>
      <div>
        <h1>Thank you</h1>
      </div>
      <div>
        <p>Your ticket has been successfully submitted</p>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
